{% extends "main/base.html" %}
{% block content %}
    <h2>Forms: </h2>
    <table>
        <thead>
            <tr>
                <th>Invoice number</th>
                <th>Invoice date</th>
                <th>Company</th>
                <th>Commissionier</th>
            </tr>
        </thead>
        <tbody>
            {% if forms %}
                {% for form in forms %}
                <tr>
                    <td><a href="{% url 'form-details' form.id %}">{{ form.invoice_series }}{{ form.invoice_number }}</a></td>
                    <td>{{ form.act_date }}</td>
                    <td>{{ form.company_title }}</td>
                    <td>{{ form.main_member }}</td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">No forms created yet</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock content %}
